.center {
    align-items: center;
  }

h1 {
    text-align: left;
    font-family: 'Permanent Marker', cursive;
    text-transform: uppercase;
    padding: 20px 0px 0px 20px;
    color: #F13C20;
}

h4{
    background:#4056A1; 
    max-width: 300px;
    color:#C5CBE3;
    font-family: 'Permanent Marker', cursive;
    font-size: 150%;
}

img{
    display: block;
}

a{
    text-decoration-line: none;
}

a h4:hover { 
    background-color: #d79922;
    color: #EFE2BA;
}